header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
.header-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: var(--header-gradient);
    padding: 0.7em 4em;
    height: 80px;
}
header img {
    height: 150px;
}
