main {
    padding-top: 3em;
    background-color: gray;
}
article {
    div > section {
        background-color: lightblue;
    }
}
.hero-container {
    position: relative;
    height: 100vh;
    background: url(../images/hero.jpg) center / cover no-repeat;

}

.hero-text {
    position: absolute;
    color: wheat;
    top: 80%;
    left: 10%;
}


