/* header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  background: transparent;
}
.header-container{
  position: relative;
  display: flex;
  padding: 0.7em 4em;
  width: 100%;
}
header::before{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--header-gradient));
  filter: blur(20px);
  z-index: -1;
}
.right {
    justify-content: flex-end;
    background: transparent;
}
.left {
    justify-content: flex-start;
} */


    <h1> Holiday </h1>
    <form action="#">
        <p> Go on holiday!</p>

        <div class="form-field">
        <label>Namn</label>
        <input type="text"
        placeholder="Write your name"
        required
        value=""
        />
        <p class="error-message"> Enter your name to continue.</p>
        </div>

         <div class="form-field">
        <label>where to?</label>
        <select required>
            <option> Pick destination</option>
            <option value="somalia"> Somalia</option>
            <option value="kongo"> Republic of Kongo </option>
            <option value="greenland"> Greenland</option>
            <option value="malmo"> Malmö</option>
        </select>
        </div>

        <div class="form-field">
            <legend>When shall we travel?</legend>

            <div class="flex-row">
            <div class="radio-container">
            <input id="monday" type="radio" name="days">
            <label for="Monday" class="radio"> Monday</label>
            </div>
            
            <div class="radio-container">
            <input id="tuesday" type="radio" name="days">
            <label for="tuesday" class="radio"> Tuesday</label>
            </div>
            
            <div class="radio-container">
            <input id="wednesday" type="radio" name="days">
            <label for="wednesday" class="radio"> Wednesday</label>
                </div>
            </div>
        </div>

        <div class="form-field">
            <label for="">Transportation alternatives</label>
            <input id="datalist" list="Transportation">
            <datalist id="Transportation">
                <option> car</option>
                <option> boat</option>
            </datalist>
        </div>
        <div class="form-field">
            <label for="extra-text"> Other wants </label>
            <textarea name="" id="extra-text" rows="5"></textarea>
        </div>
        <button type="submit" class="booking"> Book a trip </button>
        <button type="reset"> Clear </button>
    </form>